---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Categories from "../components/Categories.astro";
import ProductGrid from "../components/ProductGrid.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="MeloMint Store | Premium Gift Shop in Darbhanga">
	<Navbar />
	<main class="space-y-4 md:space-y-8">
		<Hero />
		<Categories />
		<ProductGrid />
		<InstagramFeed />
	</main>
	<Footer />
</Layout>
